<!-- ======= Header Section/Seção de Cabeçalho ======== -->
<header class="header">
  <a href="home.html" class="logo"> <i class="fas fa-shopping-basket"></i> Groco</a>
  <nav class="navbar">
      <a href="home.html">Home</a>
      <a href="shop.html">Shop</a>
      <a href="about.html">Sobre</a>
      <a href="review.html">Review</a>
      <a href="blogs.html">Blogs</a>
      <a href="contact.html">Contato</a>
  </nav>
  <div class="icons">
      <div class="fas fa-bars" id="menu-btn"></div>
      <div class="fas fa-search" id="search-btn"></div>
      <div class="fas fa-shopping-cart" id="cart-btn"></div>
      <div class="fas fa-user" id="login-btn"></div>
  </div>
  <!-- Search Form/Formulario de pesquisa -->
  <form action="" class="search-form">
      <input type="search" placeholder="Procure aqui..." id="search-box">
      <label for="search-box" class="fas fa-search"></label>
  </form>
  <!-- Shopping-cart/Carrinho de compras -->
  <div class="shopping-cart">
      <div class="box">
          <i class="fas fa-times"></i>
          <img src="../../assets/cart-1.jpg" alt="">
          <div class="content">
              <h3>Legumes Verdes</h3>
              <span class="quantity">1</span>
              <span class="multiply">1</span>
              <span class="price">$3.99</span>
          </div>
      </div>
      <div class="box">
          <i class="fas fa-times"></i>
          <img src="../../assets/cart-2.jpg" alt="">
          <div class="content">
              <h3>Leite Fresco</h3>
              <span class="quantity">1</span>
              <span class="multiply">1</span>
              <span class="price">$9.99</span>
          </div>
      </div>
      <div class="box">
          <i class="fas fa-times"></i>
          <img src="../../assets/cart-3.jpg" alt="">
          <div class="content">
              <h3>Comida Orgânica</h3>
              <span class="quantity">1</span>
              <span class="multiply">1</span>
              <span class="price">$18.99</span>
          </div>
      </div>
      <h3 class="total"> Total : <span>56.97</span></h3>
      <a href="#" class="btn">Finalizar Carrinho</a>
  </div>
  <!-- Login Form/Formulario de Login -->
  <form action="" class="login-form">
      <h3>Forma de Login</h3>
      <input type="email" placeholder="Digite o seu email" class="box">
      <input type="password" placeholder="Digite a sua senha" class="box">
      <div class="remember">
          <input type="checkbox" name="" id="remember-me">
          <label for="remember-me">Lembre de Mim</label>
      </div>
      <input type="submit" value="Conecte-se agora" class="btn">
      <p>Esqueceu a Senha? <a href="#">Clique Aqui</a></p>
      <p>Não tem Conta? <a href="#">Crie Uma</a></p>
  </form>
</header>
