<!-- ======= Footer Section/Seção de Rodapé ======== -->
<section class="footer">
  <div class="box-container">
      <div class="box">
          <h3>Link rápido</h3>
          <a href="home.html"><i class="fas fa-arrow-right"></i> Home</a>
          <a href="shop.html"><i class="fas fa-arrow-right"></i> Shop</a>
          <a href="about.html"><i class="fas fa-arrow-right"></i> Sobre</a>
          <a href="review.html"><i class="fas fa-arrow-right"></i> Review</a>
          <a href="blogs.html"><i class="fas fa-arrow-right"></i> Blogs</a>
          <a href="contact.html"><i class="fas fa-arrow-right"></i> Contato</a>
      </div>
      <div class="box">
          <h3>Links extras</h3>
          <a href="#"><i class="fas fa-arrow-right"></i>Meu Pedido</a>
          <a href="#"><i class="fas fa-arrow-right"></i>Meu favorito</a>
          <a href="#"><i class="fas fa-arrow-right"></i>Minha Lista de Desejos</a>
          <a href="#"><i class="fas fa-arrow-right"></i>Minha Conta</a>
          <a href="#"><i class="fas fa-arrow-right"></i>Termos de Uso</a>
      </div>
      <div class="box">
          <h3>Siga-Nos</h3>
          <a href="#"><i class="fas fa-facebook-f"></i> Facebook</a>
          <a href="#"><i class="fas fa-twitter"></i> Twitter</a>
          <a href="#"><i class="fas fa-instagram"></i> Instagram</a>
          <a href="#"><i class="fas fa-linkedin"></i> Linkedin</a>
          <a href="#"><i class="fas fa-pinterest"></i> Pinterest</a>
      </div>
      <div class="box">
          <h3>Boletim de Notícias</h3>
          <p>Inscreva-se para atualizações mais recentes</p>
          <form action="">
              <input type="email" placeholder="Digite seu E-mail">
              <input type="submit" value="Se Inscrever" class="btn">
          </form>
          <img src="../../assets/payment.png" alt="" class="payment">
      </div>
  </div>
</section>

<section class="credit">Criado Por <span>Daniel Oliveira</span> | Todos os Direitos Reservados!</section>
