/* ======= Home Section/Seção de Inicio ======== */
.home {
  padding-top: 14rem;
  background: url(../../assets/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.home .slides-container .slide {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  display: none;
}
.home .slides-container .slide.active {
  display: flex;
}
.home .slides-container .slide .content {
  flex: 1 1 40rem;
  animation: fadeLeft 0.4s linear 0.4s backwards;
}
.home .slides-container .slide .content span {
  color: #666;
  font-size: 2.5rem;
}
.home .slides-container .slide .content h3 {
  font-size: 6rem;
  color: #222;
  padding: 0.5rem 0;
}
.home .slides-container .slide .image {
  flex: 1 1 40rem;
  margin: 3rem 0;
}
.home .slides-container .slide .image img {
  width: 100%;
  animation: fadeUp 0.4s linear;
}
.home #next-slide,
.home #prev-slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  text-align: center;
  background: #fff;
  font-size: 3rem;
  color: #222;
  cursor: pointer;
}
.home #next-slide:hover,
.home #prev-slide:hover {
  background: #bac34e;
  color: #fff;
}
.home #prev-slide {
  left: 2rem;
}
.home #next-slide {
  right: 2rem;
}
