<!-- ======= Home Section/Seção de Inicio ======== -->
<section class="home">
  <div class="slides-container">
      <div class="slide active">
          <div class="content">
              <span>Fresco e orgânico</span>
              <h3>Até 25% de desconto</h3>
              <a href="#" class="btn">Compre agora</a>
          </div>
          <div class="image">
              <img src="../../assets/home-img-1.png" alt="">
          </div>
      </div>
      <div class="slide">
          <div class="content">
              <span>Fresco e orgânico</span>
              <h3>Até 30% de desconto</h3>
              <a href="#" class="btn">Compre agora</a>
          </div>
          <div class="image">
              <img src="../../assets/home-img-2.png" alt="">
          </div>
      </div>
      <div class="slide">
          <div class="content">
              <span>Fresco e orgânico</span>
              <h3>Até 40% de desconto</h3>
              <a href="#" class="btn">Compre agora</a>
          </div>
          <div class="image">
              <img src="../../assets/home-img-3.png" alt="">
          </div>
      </div>
  </div>
  <div id="next-slide" class="fas fa-angle-right" onclick="next()"></div>
  <div id="prev-slide" class="fas fa-angle-left" onclick="next()"></div>
</section>
